body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(to right bottom, #ff40bf, #ff1800);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
